 
.img.imgMsg{ 
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100px;
}
.bar-footer{ 
    overflow: visible !important;
}
.bar-footer textarea { 
    resize: none;
    height: 25px;
    color: black;
    background :#64b5f6
}
.message{ 
    font-size: 16px;
}
.message-detail{ 
    white-space: nowrap;
}
.chat-bubble{ 
    border-radius: 10px;
    display: inline-block;
    padding: 10px 10px;
    position: relative;
    margin: 10px;
    max-width: 80%;
}
.chat-bubble::before { 
    content: '\00ap';
    display: block; 
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px;
}
.chat-bubble.left{ 
    background :#f1f0f0; 
    float: left;
    margin-left: 7px;
    
}
.chat-bubble.right{ 
    background :#64b5f6; 
    color: #fff;
    float: right;
    margin-left: 7px;
    
}
.chat-bubble.left:before{ 
    background: #f1f0f0;
    left: 10px;
    z-index: -1;
    border-radius: 10px;
    -webkit-transform: rotate(70deg) skew(5deg);
    transform : rotate(70deg) skew(5deg)
}

.chat-bubble.right:before{ 
    background: #64b5f6;
    float: right;
    z-index: -1;
    margin-right :7px; 
    border-radius: 10px;
    -webkit-transform: rotate(70deg) skew(5deg);
    transform : rotate(70deg) skew(5deg)
}
.chat-bubble.right a.autolinker{ 
    color: #fff;
    font-weight :bold; 

}
user-message-top-icon{ 
    font-size: 28px;
    display: inline-block;
    vertical-align : middle; 
    position : relative; 
    top:-3px; 

}

.nameCol{
    margin-left: 28px;
    height: 40px;
    padding: 0px;
}
.card{ 
    height: 60px;
}
.inputBox{ 
    color: black;
}
.input-field{
    top: -9px !important;
}
.inputRow { 
    margin : 0px 10px 0px 10px !important; 
}
.isOnline { 
    color: white;
    margin-top: -5px;
    padding: 0px !important;
}
.rowDiv{ 
    background: #ffffff;
    height: 61vh;
    max-height: 62vh;
    overflow: scroll;
    top: 0px;
    margin-top: -20px;
}
.footerDiv{ 
    height: 38px;
    bottom: 0px;
}
inputField{ 
    height: 38px;

}
emoji-picker{
    width: 100%;
    right: 6px;
}
emoji-content{ 
    width: 100%;
}
.emojiBtn{ 
    font: size 20px;
    background: inherit; 
    border : none;
    text-align:center;
    margin-left: -10px; 
}
emojiDiv{ 
    width: 40px;
    margin-bottom: 0px;
}