<div *ngFor="let posts of topposts">
    <ul class="collection col s12 m12 l10">
        <li  class="collection-item avatar">
          <img src="https://via.placeholder.com/80x80" alt="" class="circle">
          <span class="title">{{posts.username}}</span>
          <p class="time"> {{TimeFromNow(posts.createdAt)}}<br>
             Country
          </p>
        </li>
    <div class="row">
        <div class="col s12 l12">
            <div class="card">
                <div class="card-image">
                 </div>
                <div class="card-content">
                    <p> {{posts.post}} </p>
                </div>
                <div class="card-action">
                    <i [class]="(!CheckInlikesArray(posts.likes, user.username )) ? 'notLiked' : 'liked'" class="material-icons" (click)="LikePost(posts)">thumb_up </i>
                    <span class="iconSpan">
                        {{posts.totalLikes}}
                    </span>
                
              
                    <i class="material-icons" (click)="openCommentBox(posts)"> chat</i>
                    <span class="iconSpan">
                       {{posts.comments.length}}
                    </span>
                </div>
            </div>
        </div>
    </div>
      </ul>
    </div>