<app-tollbar></app-tollbar>
<div class="container">
      <div class="row">
            <div class="col s12 m4 l3">
                  <app-side></app-side>
            </div>

            <div class="col s12 m8 l9">
                  <div class="row">
                  
                              <h5 style="text-align: center;">Change Password</h5>
<span style="color: green; font-size: larger;" *ngIf="message"> {{message}}</span>

                              <div class="row">
                                    <form [formGroup]="passwordFrom" (ngSubmit)="ChangePassword()" class="col s12">
                              
                                   
                                      <div class="row">
                                        <div class="input-field col s12">
                                          <input formControlName="cpassword" id="password" type="password" class="validate">
                                          <label for="password">Current Password</label>
                                        </div >
                                        <span style="color: red;" *ngIf="!passwordFrom.controls['cpassword'].valid && passwordFrom.controls['cpassword'].touched " >
                                              Current Password is required !
                                        </span>
                                      </div>

                                      <div class="row">
                                          <div class="input-field col s12">
                                            <input formControlName="newPassword" id="password" type="password" class="validate">
                                            <label for="password">New Password</label>
                                          </div>
                                        </div>

                                      <div class="row">
                                        <div class="input-field col s12">
                                          <input formControlName="confirmPassword" id="password" type="password" class="validate">
                                          <label for="password">Confirm Password</label>
                                        </div>
                                        <span *ngIf="passwordFrom.errors" style="color: red;"> Password Does not match</span>
                                      </div>
                                   <button type="submit" class="btn" [disabled]="!passwordFrom.valid">Save Password</button>
                                    </form>
                                  </div>
                                        






                  </div>
            </div>
      </div>
</div>